@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: rgb(32,33,36)
}
.menuicon{
    filter: brightness(0) invert(1);

}
.menucontainer:hover{
    background-color: #2F3034;
}
.googlebutton{
    background-color: rgb(48,49,52);
}
.googleinput:hover{
    background-color:  rgb(48,49,52);
}
.googleinput{
    width: 45vw;
}

.footertext{
   background-color: rgb(23,23,23)
   
}
.searchedinput{
    width: 40vw;
    height: 40px;
    background-color: rgb(48,49,52);
}
